---
layout: default
title: Microsoft Student Summit Brasil
---

{% include nav.html %}

<!-- Banner header-->
<header class="masthead" id="page-top">
    <div class="container px-5 py-4">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <h1 class="lh-1 text-center display-2 mb-5 text-white">
                    Microsoft Student Summit
                </h1>
                <p class="fw-normal lead mb-5 text-white text-center">
                    Junte-se a nossa comunidade global e faça a diferença em seu campus
                </p>
                <a class="lh-1 btn-join-event rounded" href="https://aka.ms/CheckinMicrosoftStudentSummitBrasil" target="_blank" title="Inscreva-se no Student Summit">
                    Inscreva-se no Student Summit
                </a>
            </div>                       
        </div>
    </div>
</header>

<!-- Quote aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-9">
                <div class="h2 fs-1 text-white mb-4">Um encontro online e gratuito no dia 07 de outubro de 2022, para você aprender, se inspirar e desenvolver novas habilidades de tecnologia.</div>
            </div>
        </div>
    </div>
</aside>

<!-- Agenda section-->
<section id="schedule" class="container-fluid">

    <div class="container">
        <div class="col-lg-8 mx-auto">

            <h2 class="text-center mb-4 display-3 text-white">
                Agenda
            </h2>
    
            <p class="text-center mb-5">
                <mark><strong>Programa-se:</strong> Serão de 3 horas de conteúdo ao vivo,
                    <br/> transmitido pelo canal do Microsoft Reactor.</mark>
            </p>           
            
            <div class="d-flex flex-column mb-3">
                {% assign schedule = site.data.agenda %}
                {% for content in schedule %}
                <div class="p-4 mb-4 schedule_item rounded">
                    <div class="schedule_Item_time">
                        <strong>
                            <span class="text-size-small text-weight-medium"><i class="bi bi-clock text-primary"></i> {{ content.time }}h</span>
                            <span class="text-size-small hide-mobile-portrait">→</span>
                            <span class="text-size-small hide-mobile-portrait">{{ content.duration }} min</span>
                        </strong>
                    </div>
                    <div class="schedule_Item_info">
                        <h3 class="font-alt">{{ content.title }}</h3>
                        <p class="text-muted">{{ content.description }}</p>
                    </div>
                    <div class="schedule_item_speaker">
                        <div class="row">
                            {% for speaker in content.speakers %}
                                <div class="col-lg-1 col-2">
                                    <img src="{{"assets/img/femalecodertocat.png" | relative_url }}" class="rounded-circle" />
                                </div>
                                <div class="col-lg-4 col-10">
                                    <p class="mb-0"><a href="{{ speaker.speaker_link }}" target="_blank" title="{{ speaker.speaker_name }}">{{ speaker.speaker_name }}</a></p>
                                </div> 
                            {% endfor %}       
                        </div>
                    </div>                
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Call to action section-->
<section id="resources" class="container-fluid">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mx-auto text-center">
                <h2 class="display-3 lh-1">Recursos para você continuar aprendendo</h2>        
                <p class="lead fw-normal text-muted mt-5">Junte-se a nossa comunidade global e acelere sua carreira na tecnologia</p>
            </div>

            <div class="container"></div>
        
            {% assign resource = site.data.resources %}
            {% for item in resource %}
            <div class="col-lg-4 resource_item">
                <a href="#" title="{{ item.title }}" target="_blank" class="rounded">
                    <img src="{{"assets/img/black-girls-rock-girl-book-1600x900.jpg" | relative_url }}" class="img-fluid rounded-top mb-3" />
                    <h3 class="h5 px-4">{{ item.title }}</h3>
                    <p class="text-muted px-4 pb-4">{{ item.description }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include footer.html %}